@import "tailwindcss";

@theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-primary: #fd853a;
}

.hover-nav-link {
  @apply hover:bg-primary py-5 px-12 rounded-full
}